<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>Data Encryption Authority</title>
	<script src="//code.jquery.com/jquery-1.10.2.min.js"></script>
	<script type="text/javascript">
		$(document).ready(function(){
			$.ajaxSettings.traditional = true;
			var list_string = ""
			var attr_list = [];

			$('#add').on("click", function(){
				var string = $('#attr').val();
				if(string != "") attr_list.push(string);
				list_string = list_string + string + ", ";
				$('#currentview').html(list_string);
				$('#attr').val("");
			})

			$('#submit').on("click", function(){
				console.log(attr_list.toString());
				var name = $('#name').val();
				$.get('', {name: name, list: attr_list}, function(json_response){
        			$('#message').html(json_response.msg);
				});
				$.ajax({
					url: '/authority/',
					type: 'GET',
					data: {name: name, list: attr_list},
					// success: function(response){ 
					// 	window.location.reload();
					// }
				});
			})
		});
	</script>
</head>
<body>
	<h1 style="text-align: center;">Data Encryption Authority</h1>
	<h2 style="text-align: center;">Build your app's attribute list here</h2>
	<br/><br/>
	<p id="message" style="align:center;"></p>
	<div style="text-align:center;">
		<p id="currentview"></p>
		<input type="text" id="name" /></br/>
		<input type="text" id="attr" /><br/>
		<br/>
		<input type="button" value="ADD" id="add" />
		<br/>
		<input type="button" value="GET KEY" id="submit" />
	</div>
</body>
</html>